# Upon each push, we would like to:
#
# 1) Install the conda environment (episodes/files/conda_env.yaml)
# 2) ...
#

name: Code tests

on:
  push:
    branches: [ master ]

jobs:
  auto_test:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -eo pipefail -l {0} # Needed for conda

    steps:
    - uses: actions/checkout@main
    - name: Install Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        use-mamba: false
        activate-environment: snakemake_carpentry
        environment-file: episodes/files/conda_env.yaml

    - name: Configure Conda as per lesson setup
      run: |
        cat >~/.condarc <<END
        channels:
          - conda-forge
          - bioconda
        solver: libmamba
        channel_priority: strict
        END

    - name: Confirm Snakemake Version
      run: |
        conda env list
        echo ---
        which snakemake
        snakemake --version
        which rename
        ( rename --man | head -n 8 ) || true

    - name: Download the sample data
      run: |
        wget --content-disposition https://figshare.com/ndownloader/files/42467370
        tar -xvaf data-for-snakemake-novice-bioinformatics.tar.xz

        cd snakemake_data/yeast/reads
        rename -v -s ref ref_ *

    - name: Fix the file names as per ep05
      run: |
        cd snakemake_data/yeast/reads
        rename -v -s ref ref_ *

    - name: Test ep07.Snakefile
      run: |
        cp -vf episodes/files/ep07.Snakefile snakemake_data/yeast/Snakefile
        cd snakemake_data/yeast
        snakemake -j1 -p multiqc
        test -e multiqc_out/multiqc_report.html

    - name: Test assembly Snakefile
      run: |
        cp -vf episodes/files/assembly_with_conda.Snakefile snakemake_data/yeast/Snakefile
        cd snakemake_data/yeast

        snakemake -j1 -p --sdm conda

        conda env list
        ls assem
        [[ wc -w <<<(ls -f assem/*_max_contig.txt) == 12 ]]
